{% extends 'navbar.html'%}
<link rel="stylesheet" href="../static/icofont.css">
<style>
    .bg-color {
        background-color: #e7fa58;
        /* Red background color */
    }
    
    .text-light {
        color: #ffffff;
        /* White text color */
    }
</style>
{%block title%}Home-TaxSavvy{%endblock%} {% block content %}
<figure class="text-center">
    <blockquote class="blockquote">
        <p style="
        font-family: 'Moon Dance', cursive;
            ">Don't save what is left after spending, but spend what is left after investing</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Someone famous in <cite title="Source Title">Taxing</cite>
    </figcaption>
</figure>

<div class="row" style="background-size: cover;">
    <div class="col-lg-12" style="background-size: cover;">
        <div class="text-center" style="background-size: cover;">
            <h2>Practice Areas</h2>
            <div class="small-border" style="background-size: cover;"></div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb30" style="background-size: cover;">
        <div class="f-box f-icon-left f-icon-rounded" style="background-size: cover;">
            <i class="fa fa-trademark bg-color text-light"></i>
            <div class="fb-text" style="background-size: cover;">
                <h4>TRADE MARK</h4>
                <p>A Trademark registration protects your brand and provides you with the tools to prevent someone using similar signs
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb30" style="background-size: cover;">
        <div class="f-box f-icon-left f-icon-rounded" style="background-size: cover;">
            <i class="icofont-shield bg-color text-light"></i>
            <div class="fb-text" style="background-size: cover;">
                <h4>FSSAI</h4>
                <p>Rana Associates provides FSSAI registration and licenses all over India
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb30" style="background-size: cover;">
        <div class="f-box f-icon-left f-icon-rounded" style="background-size: cover;">
            <i class="icofont-copyright bg-color text-light"></i>
            <div class="fb-text" style="background-size: cover;">
                <h4>COPYRIGHT</h4>
                <p>We at Rana Associates will make it easy for you to ensure all related compliances in relation to Copyright.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb30" style="background-size: cover;">
        <div class="f-box f-icon-left f-icon-rounded" style="background-size: cover;">
            <i class="icofont-building bg-color text-light"></i>
            <div class="fb-text" style="background-size: cover;">
                <h4>ISO</h4>
                <p>We can offer its certification services for all business &amp; organizational sectors, irrespective of nature.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb30" style="background-size: cover;">
        <div class="f-box f-icon-left f-icon-rounded" style="background-size: cover;">
            <i class="fa fa-industry bg-color text-light"></i>
            <div class="fb-text" style="background-size: cover;">
                <h4>MSME</h4>
                <p>MSME registration or SSI registration helps businesses avail multiple govt subsidies &amp; benefits MSMED act.

                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb30" style="background-size: cover;">
        <div class="f-box f-icon-left f-icon-rounded" style="background-size: cover;">
            <i class="icofont-certificate bg-color text-light"></i>
            <div class="fb-text" style="background-size: cover;">
                <h4>PATENT</h4>
                <p>We, at Rana Associates, will help your invention getting legally patented with end-to-end support from our experts.
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 mb30" style="background-size: cover;">
        <div class="f-box f-icon-left f-icon-rounded" style="background-size: cover;">
            <i class="icofont-brush bg-color text-light"></i>
            <div class="fb-text" style="background-size: cover;">
                <h4>DESIGN</h4>
                <p>Rana Associates offers a 360° graphic design solutions to help you promote your business/company.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb30" style="background-size: cover;">
        <div class="f-box f-icon-left f-icon-rounded" style="background-size: cover;">
            <i class="fa fa-legal bg-color text-light"></i>
            <div class="fb-text" style="background-size: cover;">
                <h4>FIRM</h4>
                <p>A sole proprietorship firm is such a type of business entity ie owned &amp; managed by a single person.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb30" style="background-size: cover;">
        <div class="f-box f-icon-left f-icon-rounded" style="background-size: cover;">
            <i class="fa fa-users bg-color text-light"></i>
            <div class="fb-text" style="background-size: cover;">
                <h4>SOCIETY</h4>
                <p>A society is an org. in which a group of individuals with similar interest come together to perform some functions.
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 mb30" style="background-size: cover;">
        <div class="f-box f-icon-left f-icon-rounded" style="background-size: cover;">
            <i class="fa fa-handshake-o bg-color text-light"></i>
            <div class="fb-text" style="background-size: cover;">
                <h4>TRUST</h4>
                <p>Simply, a trust is legally created body, wherein property is transferred from its owner to the trust for lawful purpose.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb30" style="background-size: cover;">
        <div class="f-box f-icon-left f-icon-rounded" style="background-size: cover;">
            <i class="fa fa-balance-scale bg-color text-light"></i>
            <div class="fb-text" style="background-size: cover;">
                <h4>GST</h4>
                <p>GST return filing is completely an online process in India. GST filing is very easy and quick process.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb30" style="background-size: cover;">
        <div class="f-box f-icon-left f-icon-rounded" style="background-size: cover;">
            <i class="fa fa-money bg-color text-light"></i>
            <div class="fb-text" style="background-size: cover;">
                <h4>INCOME TAX</h4>
                <p>The easiest and the fastest way to e-file your Income tax return.
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 mb30" style="background-size: cover;">
        <div class="f-box f-icon-left f-icon-rounded" style="background-size: cover;">
            <i class="icofont-interface bg-color text-light"></i>
            <div class="fb-text" style="background-size: cover;">
                <h4>DIGITAL SIGNATURE</h4>
                <p>A digital signature is like an electronic signature and trusted digital ID combined into one.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb30" style="background-size: cover;">
        <div class="f-box f-icon-left f-icon-rounded" style="background-size: cover;">
            <i class="fa fa-id-card bg-color text-light"></i>
            <div class="fb-text" style="background-size: cover;">
                <h4>PAN CARD</h4>
                <p>All services related to the PAN card application and all other procedures, whatsoever.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb30" style="background-size: cover;">
        <div class="f-box f-icon-left f-icon-rounded" style="background-size: cover;">
            <i class="fa fa-code bg-color text-light"></i>
            <div class="fb-text" style="background-size: cover;">
                <h4>I.E.C CODE</h4>
                <p>All businesses which are engaged in Import and Export of goods compulsorily require IEC Certificate.
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 mb30" style="background-size: cover;">
        <div class="f-box f-icon-left f-icon-rounded" style="background-size: cover;">
            <i class="fa fa-handshake-o bg-color text-light"></i>
            <div class="fb-text" style="background-size: cover;">
                <h4>PARTNERSHIP</h4>
                <p>Partnership firms are created by drafting a Partnership deed amongst the Partners &amp; by a registered Partnership deed.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb30" style="background-size: cover;">
        <div class="f-box f-icon-left f-icon-rounded" style="background-size: cover;">
            <i class="fa fa-object-group bg-color text-light"></i>
            <div class="fb-text" style="background-size: cover;">
                <h4>PVT LTD REGISTRATION</h4>
                <p>A Private Limited Company offers limited liability and legal protection to its shareholders.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb30" style="background-size: cover;">
        <div class="f-box f-icon-left f-icon-rounded" style="background-size: cover;">
            <i class="fa fa-users bg-color text-light"></i>
            <div class="fb-text" style="background-size: cover;">
                <h4>LLP REGISTRATION</h4>
                <p>LLP Registration, a prime reason why it has evolved is that of its simplicity in a formation and easy maintenance.
                </p>
            </div>
        </div>
    </div>
</div>

{%endblock%}